<form name="careItemForm" novalidate="novalidate" ng-submit="save()">
    <div ng-if="shared.activeCareItem && config.show">
        <div class="form-group row">
            <div class="col-md-8">
                <fieldset ng-disabled="shared.activeItemModeSaved == true">
                    <input type="text" class="form-control input-sm" name="name" ng-model="shared.activeCareItem.name" placeholder="New Care Group Name *" required  minlength="1" max-length="40">
                </fieldset>
            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <span ng-show="(careItemForm.$valid === false && careItemForm.$submitted)"><i class="fa fa-exclamation-triangle"></i>Validation Errors or Required Fields Missing</span>
                    <button type="button" class="btn btn-sm btn-default" ng-if="shared.activeItemModeSaved == true" ng-click="shared.activeItemModeSaved = false">Edit</button>
                    <button type="submit" class="btn btn-sm btn-default" ng-if="shared.activeItemModeSaved == false" name = "careItemForm">Save</button>
                    <button type="button" class="btn btn-sm btn-cancel underline" ng-click="cancel()">Cancel</button>
                </span>
            </div>
        </div>
        <div class="row header-row">
            <fieldset ng-disabled="shared.activeItemModeSaved == true">
                <div ng-if="shared.activeCareItem.careType == 'G'">
                    <div class="col-md-4 reduce-padding-right">
                        <div class="form-group">
                            <span class="input-span">
                                <select class="form-control input-sm pull-right ng-class=" id="sel1" ng-change="careCategorySelected(shared.activeCareItem.careCategoryId)" ng-model="shared.activeCareItem.careCategoryId" ng-options="option.traceUUID as option.name | translate for option in options.careCategories" required><option value="">Select Care Group Category *...</option></select>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 reduce-padding-left">
                        <div class="form-group">
                            <span class="input-span">
                                <div dk-dropdown-multiselect="" options="options.medicationCategories" selected-model="shared.activeCareItem.medCategories" extra-settings="config.medCategories.settings" translation-texts="config.medCategories.translationTexts" events="config.medCategories.events"></div>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="shared.activeCareItem.careType == 'A'">
                    <div class="form-group col-md-4 full-input-table">
                        <div class="form-group">
                            <span class="input-span">
                            <select class="form-control input-sm pull-right" id="sel1" ng-model="shared.activeCareItem.careAreaTypeId" ng-options="option.traceUUID as option.name | translate for option in options.careAreaTypes"><option value="">Select Facility *...</option></select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 full-input-table">
                        <div class="form-group">
                            <span class="input-span">
                            <select class="form-control input-sm pull-right" id="sel1" ng-model="shared.activeCareItem.careAreaTypeId" ng-options="option.traceUUID as option.name | translate for option in options.careAreaTypes"><option value="">Select Care Area *...</option></select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 full-input-table">
                        <div class="form-group">
                            <span class="input-span">
                            <select class="form-control input-sm pull-right" id="sel1" ng-model="shared.activeCareItem.careAreaTypeId" ng-options="option.traceUUID as option.name | translate for option in options.careAreaTypes"><option value="">Select Care Area Type *...</option></select>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row dark-content toolbar-color">
            <div class="col-md-2 reduce-padding-right">
                <button type="button" id='lvp' class="btn btn-default btn-sm btn-fill" ng-class="{true: 'btn-info', false:''}[config.activeTab == 'LVP']" href='#/cgca/lvp' ng-click="tabchange('LVP')">LVP</button>
            </div>
            <div class="col-md-2 reduce-padding-left">
                <button type="button" id='syring' class="btn btn-default btn-sm btn-fill" ng-class="{true: 'btn-info', false:''}[config.activeTab == 'Syringe']" href='#/cgca/syringe' ng-click="tabchange('Syringe')">Syringe</button>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                <div class="checkbox-inline .enable-device-settings">
                    <label ng-show="config.activeTab == 'LVP'">
                        <input type="checkbox" ng-model="config.enableDevice['LVP']" novalidate>Enable LVP Device
                    </label>
                    <label ng-show="config.activeTab == 'Syringe'">
                        <input type="checkbox" ng-model="config.enableDevice['Syringe']" novalidate>Enable Syringe Device
                    </label>
                </div>
                </div>
            </div>
        </div>
        <deviceform ng-if="config.activeTab == 'LVP'" enabled="config.enableDevice['LVP']" device-type="LVP" device="shared.activeCareItem.devices['LVP']"></deviceform>
        <deviceform ng-if="config.activeTab == 'Syringe'" enabled="config.enableDevice['Syringe']" device-type="Syringe" device="shared.activeCareItem.devices['Syringe']"></deviceform>
    </div>
</form>
