@import "../../../libs/bootstrap-sass/assets/stylesheets/bootstrap/variables";

#cgcatab {
    .marginless {
        margin-bottom: 0px;
    }

    .btn-fill {
        width: 100%;
        white-space: normal;
    }

    .form-subsection {
        padding: 20px 35px;
        margin: 0px 0px 10px 0px;
        background-color: white;
    }

    .input-group {
        width: 100%;
    }

    .scale-input {
        width: 50%;
    }

    .reduce-padding-left {
        padding-left: 5px;
    }

    .reduce-padding-right {
        padding-right: 5px;
    }

    .no-padding-left {
        padding-left: 0px;
    }

    .multiselect-parent, .multiselect {
        flex: 1;
        display: flex;
    }

    .multiselect {
        text-align: left;
    }

    ul.dropdown-menu.dropdown-menu-form {
        width: 100%
    }

    .header {
        background-color: #707070;
    }

    .header input {
        color: #202020;
    }

    .dark-content a{
        background-color: #eee;
        padding: 0px;
    }

    h2{
        font-size: 22px;
    }

    .callback-reason {
        display: flex;
        margin-bottom: 5px;
        label {
            padding: 5px 0px;
            width: 20px;
            flex: 0 0 20px;
        }
    }

    label {
        font-style: bold;
    }

    .checkbox-inline label {
        font-weight: normal;
    }

    .help-block {
        padding-top: 0px;
        margin-bottom: 0px;
    }
    //	h3 {
    //		font-size: 18px;
    //		font-style: bold;
    //	    font-color: #337ab7;
    //	    clear: both;
    //	}
    //
    //	h4 {
    //		font-size: 14px;
    //	    font-style: bold;
    //		font-color: #337ab7;
    //		clear: both;
    //	}

    select, input{
        clear: both;
        display: block;
    }

    .checkbox input[type='checkbox'] {
        clear: none;
        display: inline;
    }

    .content-pane{
        background-color: white;
        padding: 20px 25px;
        margin-bottom: 10px;
    }

    .row-form-padding {
        padding: 20px 35px;
    }

    .enable-device-settings{
        margin-top: -30px;
    }

    // .container-fluid {
    //     padding: 0px;
    // }

    // .nav-pills li{
    //     background-color: #D0D0D0;
    // }

    // @media (max-width: 797px) {
    //     body {
    //         padding-left: 0px;
    //         padding-right: 0px;
    //     }
    // }

    /*.lvp-syringe-nav {
        margin-right: 10px;
    }

     reduce padding to 8px

    div[class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }

    span[class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }
    */

    .btn-cancel {
        background:none;
        border:none;
        box-shadow:none;
    }

    .btn-cancel:hover {
        text-decoration: underline;
    }

    .allign-with-title {
        padding-left: 10px;
    }

    .cg-container {
        background-color: #efefef;
    }

    .medium-blue {
        color: #428bca;
    }

    .dark-blue {
        color: #0C5B9E;
    }

    .form-value-hint {
        color: #989898;
        font-style: italic;
        padding-top: 5px;
        width: 45%;
        padding-left: 10px;
    }
    // to work around requirements of angular-auto-validate dflt msg placement
    // for keys next to elements.
    .force-border-radius {
        border-radius: 4px;
    }
    .dropdown-toggle {
        background-color: white;
    }

    .caret {
        // align-self: flex-end;
        margin-top: 7px;
    }
    .number-spinner {
       input[type=number]::-webkit-inner-spin-button,
       input[type=number]::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
    }
    // override odd bootstrap defaults
    .has-feedback .form-control {
        padding-right: 12px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .InputAddOn {
      display: flex;
    }

    .InputAddOn-field {
      flex: 1;
    }
    .InputAddOn-field:not(:first-child) {
    }
    .InputAddOn-field:not(:last-child) {
    }

    .InputAddOn-item {
      background-color: rgba(147, 128, 108, 0.1);
      color: #666666;
      font: inherit;
      font-weight: normal;
      height: $input-height-small;
    }

    .InputAddOn-field,
    .InputAddOn-item {
      border: 1px solid rgba(147, 128, 108, 0.25);
      padding: 0.5em 0.75em;
    }
    // we do not use : state selectors because keys may be hidden dynamically.
    .InputAddOn-field.only-child,
    .InputAddOn-item.only-child {
      border-radius: 4px 4px 4px 4px;
    }
    .InputAddOn-field.first-child,
    .InputAddOn-item.first-child {
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }
    .InputAddOn-field.last-child,
    .InputAddOn-item.last-child {
      border-radius: 0 4px 4px 0;
      border-left: 0;
      padding: 4px;
    }

    .InputAddOn .emptyInput {
        color: #ACACAC;
    }

    .InputAddOn-label {
        padding-top: 7px;
        padding-right: 10px;
    }
}
