<dalmgrmenu></dalmgrmenu>
<div id="cgcatab" class="grid">
    <div class="tree-container">
        <div class="row spacer">
        </div>
        <div class="row header-row">
            <div class="container col-md-12">
                <label>Care Groups / Care Areas List</label>
            </div>
        </div>
        <div class="row white">
            <div class="col-md-12">
                <cgcatree>(tree is inserted here)</cgcatree>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <careitemform>(care item form is inserted here)</careitemform>
    </div>
</div>
