<ol class="cgcatree" ng-controller="CgcatreeController" class="tree-list-group">
	<div ng-repeat="careItem in careItems" ng-click="careItemClick($event)" class="list-group-item">
    	<li class="careItem">
            {{careItem.name}}
    		<ol class="tree-list-group list-group child-care-areas">
    			<div ng-repeat="childCareArea in careItem.children" ng-show=careItem.expanded class="list-group-item">
        			<li class="careItem">
        		        {{childCareArea.name}}
        			</li>
    			</div>
    		</ol>
    	</li>
	</div>
<ol>
