#cgcatab {
	.inlineUom {
		position: absolute;
		right: 20px;
		margin-top: -27px;
		color: #545454;
	}

	.limitfield-line {
		border-top: solid 1px #707070;
		position: absolute;
		margin-top: 15px;
	}

	.limitfield {
		width: 70%
	}

	.limitfield-container {
		float: left;
	}
    input[type=number].no-spinner::-webkit-inner-spin-button,
    input[type=number].no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .tab-container {
        margin: 0px 10px 0px 10px;
    }
    .type-text {
        text-align: left;
    }
    .type-number {
        text-align: right;
    }
    .error-message-field {
        padding-bottom: 8px;
    }
}
