<div class="form-group">
    <div class="limitfield-line"></div>
    <div ng-if="config.show.hardLow" class="limitfield-container" ng-style="{'width': config.inputWidth}">
        <div class="form-group">
            <div class="inline">
                <label  translate="{{global.form.hardLow}}">Hard Low</label><span> *</span>
            </div>
            <limitfield ng-model="limitfield.hardLow" name="hardLow" unit-of-measure="unitOfMeasure" register-custom-form-control="" dk-is-number dk-required validate-hard-low></limitfield>
        </div>
    </div>
    <div ng-if="config.show.softLow" class="limitfield-container" ng-style="{'width': config.inputWidth}">
        <div class="form-group">
            <div class="inline">
                <label  translate="{{global.form.softLow}}">Soft Low</label><span> *</span>
            </div>
            <limitfield ng-model="limitfield.softLow" name="softLow" unit-of-measure="unitOfMeasure" register-custom-form-control="" validate-soft-low dk-is-number dk-required></limitfield>
        </div>
    </div>
    <div ng-if="config.show.dflt" class="limitfield-container" ng-style="{'width': config.inputWidth}">
        <div class="form-group">
            <div class="inline">
                <label translate="{{global.form.dflt}}">Default</label><span> *</span>
            </div>
            <limitfield ng-model="limitfield.dflt" name="dflt" unit-of-measure="unitOfMeasure" register-custom-form-control="" validate-dflt dk-is-number dk-required></limitfield>
        </div>
    </div>
    <div ng-if="config.show.softHigh" class="limitfield-container" ng-style="{'width': config.inputWidth}">
        <div class="form-group">
            <div class="inline">
                <label translate="{{global.form.softHigh}}">Soft High</label><span> *</span>
            </div>
            <limitfield ng-model="limitfield.softHigh" name="softHigh" unit-of-measure="unitOfMeasure" register-custom-form-control="" validate-soft-high dk-is-number dk-required></limitfield>
        </div>
    </div>
    <div ng-if="config.show.hardHigh" class="limitfield-container" ng-style="{'width': config.inputWidth}">
        <div class="form-group">
            <div class="inline">
                <label translate="{{global.form.hardHigh}}">Hard High</label><span> *</span>
            </div>
            <limitfield ng-model="limitfield.hardHigh" name="hardHigh" unit-of-measure="unitOfMeasure" register-custom-form-control="" validate-hard-high dk-is-number dk-required></limitfield>
        </div>
    </div>
</div>
