<div id="dalmgrtabs" class="row top-nav-row">
    <ul id="nav" class="nav nav-tabs nav-left red" role="tablist">
        <li id="mml" ui-sref-active="active">
            <a ui-sref="mml"
               translate="main.MMLtab">Master Medication List</a>
        </li>
        <li id="cgca" ui-sref-active="active">
            <a ui-sref="cgca"
               translate="main.CGCAtab">Care Area/Care Group</a>
        </li>
        <li id="dl" ui-sref-active="active">
            <a ui-sref="dl"
               translate="main.DLtab">Drug Library</a>
        </li>
    </ul>
</div>
