.error-msg {
    color: #a94442;
    font-size: 10px;
}
.has-error {
    label {
        color: #a94442;
    }
    input::-webkit-input-placeholder {
        color: #a94442;
        font-style: italic;
    }
}

.input.ng-invalid {
    border-color:#e74c3c;
}
