.dk-shadow-3d {
	box-shadow: inset 0 0 1em gold, 0 0 1em red;
	box-shadow: 10px 5px 5px black;
}

.dk-header-bg {
    margin-top: 50px;
    color: #ffffff;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.dk-footer {
    text-align: center;
}

.CustomClass {
  color: #468847;
}

