<div class="medication-list table-wrapper tab-element" adjust-height>
    <table class="table table-hover">
        <thead class="sidebar-head" >
            <th class="text-center checkbox-padding"
                ng-show="MTbl.assignCategoryMode.active"></th>
            <th class="text-left" mml-medications-table-header column="'genericName'">
                {{ "mml.medicationsTable.genericName" | translate}}
            </th>
            <th class="text-left" mml-medications-table-header column="'pumpDisplayName'">
                {{ "mml.medicationsTable.nameOnPump" | translate}}
            </th>
            <th class="text-left" mml-medications-table-header column="'altName1'">
                {{ "mml.medicationsTable.altName1" | translate}}
            </th>
            <th class="text-left" mml-medications-table-header column="'altName2'">
                {{ "mml.medicationsTable.altName2" | translate}}
            </th>
            <th class="text-center">{{ "mml.medicationsTable.categories" | translate}}</th>
            <th class="text-center" mml-medications-table-header column="'highAlert'">
                {{ "mml.medicationsTable.highAlert" | translate}}
            </th>
            <th class="text-center" mml-medications-table-header column="'drugCode'">
                {{ "mml.medicationsTable.custom" | translate}}
            </th>
            <th class="text-center">
                <i class="fa fa-pencil"></i>
            </th>
        </thead>
        <tbody class="sidebar-body" ng-switch="MTbl.tableBodySwitch(MTbl.medications.medications)">
            <tr ng-switch-when="loading">
                <td colspan="8" class="single-column loading">
                    <img ng-src="resources/assets/img/loading.gif"/>
                </td>
            </tr>
            <tr ng-switch-when="noMedicationInCategory">
                <td colspan="8" class="single-column">
                    <div class="well" translate="mml.medicationsTable.noCurrentMedications">
                        There are currently no medications assigned to this Category. Click Modify to start.
                    </div>
                </td>
            </tr>

            <tr ng-repeat="med in MTbl.medicationFilterResult = (
                    MTbl.medications.medications |
                    orderBy:MTbl.sort.active: MTbl.sort.descending |
                    categoryFilter:MTbl.selectedCategory.id:MTbl.assignCategoryMode.active |
                    searchQueryFilter:MTbl.searchQuery.query) track by med.id"
                ng-click="MTbl.selectMedication(med.id)"
                ng-mouseover="MTbl.hoverMedication(med.id)"
                ng-mouseleave="MTbl.hoverMedication(-1)"
                ng-class="{
                    'medication-select': MTbl.selectedMedication === med.id,
                    'medication-hover': MTbl.hoveredMedication === med.id
                }"
                ng-dblclick="MTbl.openEditMedicationView(med)">

                <td class="text-center checkbox-padding"
                    ng-show="MTbl.assignCategoryMode.active">
                    <input type="checkbox"
                        ng-show="MTbl.assignCategoryMode.active"
                        checklist-model="MTbl.medications.checklist"
                        checklist-value="med.id">
                </td>
                <td class="text-left">{{::med.genericName}}</td>
                <td class="text-left">{{::med.pumpDisplayName}}</td>
                <td class="text-left">{{::med.altName1}}</td>
                <td class="text-left">{{::med.altName2}}</td>
                <td class="text-center category-tool-tip">
                    <span tooltip-placement="bottom"
                        tooltip="{{MTbl.parseCategories(med.categories)}}">
                        {{::med.categories == 0 ? '-' : med.categories.length}}
                    </span>
                </td>
                <td class="text-center">
                    <i class="fa fa-exclamation-triangle"
                        ng-show="MTbl.showHighAlertPic(med.highAlert)">
                    </i>
                </td>
                <td class="text-center">
                    <i ng-show="MTbl.showCustomPic(med.drugCode)"
                        class="fa fa-copy">
                    </i>
                </td>
                <td class="text-center">
                    <i class="fa fa-pencil"
                        ng-show="MTbl.showEditIcon(med.id)"
                        ng-click="MTbl.openEditMedicationView(med)">
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
