<div ng-controller="MmlMedicationCategoriesController as Cat" adjust-height>
    <div class="sidebar-head">
        <div class="formulary-header">
            <p class="text-center" translate="mml.medicationCategories.categoriesList">
                Categories List
            </p>
        </div>

        <form class="form-inline" ng-submit="Cat.addmedicationCategories()" novalidate>
            <div class="form-group">
                <div class="inner-addon right-addon search"
                     ng-mouseenter="Cat.mouseLeave = false"
                     ng-mouseleave="Cat.mouseLeave = true">
                    <i id="mml-add-medication-category-button"
                        class="glyphicon glyphicon-plus clickable"
                        ng-click="Cat.addmedicationCategories()">
                    </i>
                    <input
                        class="form-control category-width"
                        id="mml-add-medication-category-input"
                        ng-blur="Cat.clearInput()"
                        ng-disabled="Cat.medicationCategories.categories.length > 23"
                        ng-model="Cat.newmedicationCategories.category.name"
                        placeholder="{{ 'mml.medicationCategories.addCategory' | translate}}"
                        type="text" />
                </div>
            </div>
            <div class="form-group">
                <i id="mml-change-medication-category-sort-order"
                    class="glyphicon glyphicon-resize-vertical clickable sort-category-icon"
                    tooltip-placement="bottom"
                    tooltip="{{ 'mml.medicationCategories.toolTip' | translate }}"
                    ng-click="Cat.reverse = !Cat.reverse">
                </i>
            </div>
        </form>
    </div>

    <div class="sidebar-body">
        <img ng-if="Cat.isLoading(Cat.medicationCategories.categories)"
            ng-src="resources/assets/img/loading.gif"/>
        <ul>
            <li class="category-list"
                ng-class="{'bg-info': Cat.selectedCategory.id === mc.id}"
                ng-click="Cat.setSelectedCategory(mc)"
                ng-repeat="mc in Cat.medicationCategories.categories |
                           orderBy: 'name' : Cat.reverse track by mc.id">
                <div class="category-item-edit"
                    ng-if="Cat.categoryBeingEdited === mc.id">
                    <form class="form-inline" novalidate>
                        <div class="form-group medication-category-edit-form-group">
                            <div class="col-sm-10">
                                <input
                                    class="form-control"
                                    id="mml-edit-category-input"
                                    ng-model="mc.name"
                                    type="text" />
                            </div>
                            <div class="col-sm-2">
                                <button
                                    id="mml-edit-category-close-btn"
                                    type="button"
                                    class="close">
                                    <span class="close-medication-edit">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group medication-category-edit-form-group">
                            <div class="col-sm-2">
                                <i id="mml-delete-medication-category"
                                    class="fa fa-trash-o category-trash-icon"></i>
                            </div>
                            <div class="col-sm-8">
                                <button
                                    id="mml-edit-cateogry-save-btn"
                                    type="button"
                                    class="btn mml-btn pull-right">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="category-item-view"
                    ng-if="Cat.categoryBeingEdited !== mc.id">
                    <span id="mml-medication-category-{{mc.id}}">{{mc.name}}</span>
                    <i ng-if="Cat.selectedCategory.id === mc.id"
                        class="fa fa-pencil pull-right selected-category-edit-pencil"
                        ng-click="Cat.editCategory(mc)"></i>
                </div>
            </li>
            <li id="mml-medication-category-0"
                class="category-list"
                ng-class="{'bg-info': Cat.selectedCategory.id === 0}"
                ng-click="Cat.setSelectedCategory({id:0})">
                <strong translate="mml.medicationCategories.uncategorizedList">Uncategorized List</strong>
            </li>
            <li id="mml-medication-category--1"
                class="category-list"
                ng-class="{'bg-info': Cat.selectedCategory.id === -1}"
                ng-click="Cat.setSelectedCategory({id:-1})">
                <strong translate="mml.medicationCategories.allMedications">All Medications</strong>
            </li>
        </ul>
    </div>
</div>
