<div class="row">
    <div class="col-md-9">
        <p translate="mml.formulary.cancelConfirm">
            Are you sure you would like to cancel? Any changes made to the medication will be lost.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-7">
        <button
            class="btn"
            id="mml-cancel-custom-medication-dialog-yes"
            ng-click="Dialog.yes()"
            translate="mml.formulary.yes"
            type="button">Yes
        </button>
        <button
            class="btn"
            id="mml-cancel-custom-medication-dialog-yes"
            ng-click="Dialog.no()"
            translate="mml.formulary.no"
            type="button">No
        </button>
    </div>
</div>
